<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="[%- c.uri_for('/go.ico') -%]">

        <title>SGF Analyst</title>

        <!-- Bootstrap holla -->
        <link href="[%- c.uri_for('/static/css/bootstrap-readable.min.css') -%]" rel="stylesheet"></link>

        <!-- Analysis page CSS -->
        <link href="[%- c.uri_for('/static/css/analysis.css') -%]" rel="stylesheet">

        <style type="text/css"></style><style id="holderjs-style" type="text/css"></style>
        <script src="[%- c.uri_for('/static/js/jquery.min.js') -%]"></script>
        <script src="[%- c.uri_for('/static/js/goban.js') -%]"></script>
        <script>
$(function () {
    var c = document.getElementById('goban');
    c.width = $('#goban-container').width();
    c.height = $('#goban-container').width();
    var goban = new Goban(c, [%- IF size; size; ELSE; 19; END; -%]);
    goban.getMoves('[%- sgf | replace("'", "\\'") -%]');
    goban.draw();
    goban.setMoveAnalysisData([[%- FOREACH move = data %]
                                [%- move.color == "Black" ? move.score : move.color == "White" ? move.score * -1 : 0 -%],
                              [%- END %]]);
    goban.sliceGraph();

    document.getElementById('next-btn').onclick = function() {goban.nextMove()};
    document.getElementById('prev-btn').onclick = function() {goban.prevMove()};
    document.getElementById('start-btn').onclick = function() {goban.goToMove(0)};
    document.getElementById('end-btn').onclick = function() {goban.goToMove(goban.moves.length)};

    $('#graph').highcharts({
        chart: {
            type: "spline"
        },
        title: {
            text: 'Winner: [%- winner -%]',
            x: -20 //center
        },
        yAxis: {
            title: {
                text: 'Game Score'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
            plotBands: [{
                from: 0,
                to: 100,
                color: 'rgba(0,0,0,1)'
            }]
        },
        xAxis: {
            title: {
                text: 'Move'
            }
        },
        tooltip: {
            headerFormat: '',
            valueSuffix: ' points'
        },
        plotOptions: {
            line: {
                enableMouseTracking: false
            },
            marker: {
                enabled: false
            },
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function(e) {
                            $(document.body).animate({'scrollTop': $('#gameplay').offset().top});
                            goban.goToMove(this.x);
                        }
                    }
                }
            }
        },
        series: [{
            name: 'Score',
            data: goban.moveData
        }]
    });
});
        </script>
    </head>

    <body style>
        [% INCLUDE contents/header.tt %]

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li><a href="#">Overview</a></li>
                        <li><a href="#details">Details</a></li>
                        <li><a href="#gameplay">Gameplay</a></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div id="overview">
                        <h1 class="page-header">
                            [%- players.black ? players.black : "Black" -%] [%- IF rankings.black -%] ([%- rankings.black -%])[%- END -%]
                             vs 
                            [%- players.white ? players.white : "White" -%] [%- IF rankings.white -%] ([%- rankings.white -%])[%- END -%]
                        </h1>
                        <div id="graph" style="min-width: 310px; height: 400px; margin: 0 auto;">
                            <div class="alert alert-danger">
                                <p>If the graph isn't showing, check your internet connection!</p>
                            </div>
                        </div>
                    </div>
                    <div id="details">
                        <h1 class="page-header">Match Details</h1>
                        <ul class="list-group">
[%- IF players.black AND players.white -%]
                            <li class="list-group-item">Players: [%- players.black -%] vs [%- players.white -%]</li>    [%- END -%]
[%- IF rankings.black AND rankings.white -%]
                            <li class="list-group-item">Rankings: [%- rankings.black -%] vs [%- rankings.white -%]</li> [%- END -%]
[%- IF size -%]             <li class="list-group-item">Board Size: [%- size -%]</li>                                   [%- END -%]
[%- IF komi -%]             <li class="list-group-item">Komi: [%- komi -%]</li>                                         [%- END -%]
[%- IF handicap -%]         <li class="list-group-item">Handicap Awarded: [%- handicap -%]</li>                         [%- END -%]
[%- IF date -%]             <li class="list-group-item">Date Played: [%- date -%]</li>                                  [%- END -%]
[%- IF event -%]            <li class="list-group-item">Event: [%- event -%]</li>                                       [%- END -%]
                        </ul>
                    </div>
                    <div id="gameplay">
                        <h1 class="page-header">Gameplay</h1>
                        <div class="row well">
                            <div class="col-md-6">
                                <div id="goban-container">
                                    <canvas id="goban" style="border: 1px; solid: #000000;"></canvas>
                                </div>
                                <div id="goban-controllers" align="center">
                                    <button class="btn btn-default btn-lg" id="start-btn">
                                        <span class="glyphicon glyphicon-backward"></span>
                                    </button>
                                    <button class="btn btn-default btn-lg" id="prev-btn">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </button>
                                    <button class="btn btn-default btn-lg" id="next-btn">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                    <button class="btn btn-default btn-lg" id="end-btn">
                                        <span class="glyphicon glyphicon-forward"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="slice-graph">
                                    <div class="alert alert-danger">
                                        <p>If the graph isn't showing, check your internet connection!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="[%- c.uri_for('/static/js/bootstrap.min.js') -%]"></script>

        <script src="[%- c.uri_for('/static/js/highcharts/highcharts.js') -%]"></script>
        <script src="[%- c.uri_for('/static/js/highcharts/modules/exporting.js') -%]"></script>

    </body>
</html>
