<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="[%- c.uri_for('/go.ico') -%]">

    <title>SGF Analyst</title>

    <!-- Bootstrap core CSS -->
    <link href="[% c.uri_for('/static/css/bootstrap-readable.min.css') %]" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="[% c.uri_for('/static/css/cover.css') %]" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css"></style><style id="holderjs-style" type="text/css"></style>
    <script src="[%- c.uri_for('/static/js/jquery.min.js') -%]"></script>
    <script src="[%- c.uri_for('/static/js/goban.js') -%]"></script>
    <script>
$(function() {
  var c = document.getElementById('goban');
  c.width = $(document).width();
  c.height = $(document).width();
  c.getContext('2d').webkitImageSmoothingEnabled = false;
  c.getContext('2d').mozImageSmoothingEnabled = false;
  var goban = new Goban(c, 19);
  goban.draw();
  //while(true) {
    var moves = new Array(350);
    for(var i = 0; i < moves.length; i += 2) {
      moves[i] = ";B["
               + "abcdefghijklmnopqrs"[Math.floor(Math.random() * 19)]
               + "abcdefghijklmnopqrs"[Math.floor(Math.random() * 19)]
               + "]";
      moves[i + 1] = ";W["
               + "abcdefghijklmnopqrs"[Math.floor(Math.random() * 19)]
               + "abcdefghijklmnopqrs"[Math.floor(Math.random() * 19)]
               + "]";
    }
    goban.getMoves(moves.join(''));
    var timer = setInterval(function() {goban.nextMove()}, 1000);
  //}
});
    </script>
  </head>
  <body>
    <canvas id="goban" style="position: fixed; top: 0; left: 0; z-index: -1;"></canvas>
    <div class="site-wrapper" style="z-index: 1;">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          [% INCLUDE contents/header.tt %]
          <div class="inner cover">
[%- IF error -%]
            <div class="alert alert-info alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <p>There was a problem with the SGF file you input</p>
            </div>
[%- END -%]
            <div class="well">
              <h1 class="cover-heading">The SGF Analyst</h1>
              <p class="lead">Input your sgf file into the box below to be directed to an analysis of that game</p>
              <form method="POST" id="createform" action="[% c.uri_for('/build') %]">
                <div class="input-group">
                  <input type="text" class="form-control" name="data" />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="document.forms['createform'].submit();">Submit</button>
                  </span>
                </div>
              </form>
            </div>
          <div class="footer">
            <div class="inner">
              <p>SGF Analyst for the game of Go by <a href="https://github.com/killmous">killmous</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="[% c.uri_for('/static/js/bootstrap.min.js') %]"></script>

</body></html>