<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>SGF Analyst</title>

    <!-- Bootstrap core CSS -->
    <link href="[% c.uri_for('/static/css/bootstrap-readable.min.css') %]" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="[% c.uri_for('/static/css/cover.css') %]" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style type="text/css"></style><style id="holderjs-style" type="text/css"></style></head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          [% INCLUDE contents/header.tt %]
          <div class="inner cover">
            <li class="list-group">
                [%- FOREACH entry = db %]
                    [%-  -%]
                [%- END %]
            </li>
          </div>
          <div class="footer">
            <div class="inner">
              <p>SGF Analyst for the game of Go by <a href="https://github.com/killmous">killmous</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="[%- c.uri_for('/static/js/jquery.min.js') -%]"></script>
    <script src="[% c.uri_for('/static/js/bootstrap.min.js') %]"></script>
  </body>
</html>